/* walking dead css  */

#walkingpage {

}


#walkingpage .panel {
    margin-top: 20px;
}
#walkingpage .panel IMG {
    width: 230px;
}

#walkingpage  .linkitem {
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    color: #888;
    background-color: #fff;
    border: 1px solid #ccc;

    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 0;
    margin-right:  15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    text-decoration: none;
}

#walkingpage  .linkitem:hover {
    text-decoration: underline;
    color: #555;
    border-color: #777;
}
#walkingpage .linkitem.active {
    color: #333;
    background-color: #b2bcc5;
    border-color: #adadad;
    cursor: default;
    text-decoration: none;
}