
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">    
	<meta name="format-detection" content="telephone=no">


    <script>
        /* environment variables */
        //var VERSION_DIR = '';
        var DEEPLINK_DIR = "";
        var isProduction = false;

        /* see node server code for comments on this */
        function htmlDecode(input){
            var e = document.createElement('div');
            e.innerHTML = input;
            return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        }
        try { window.hermesReceived = JSON.parse(htmlDecode("<%= payload %>")); } catch(e){}
    </script>    


    <link rel="stylesheet" type="text/css" href="prod/start.css">
    <script type="text/javascript" src="prod/start.js"></script>




</head>
<body>

    <div id="appContainer"></div>	

</body>
</html>