
#fireflypage .mainpic {
    width: 100%;
    max-width: 370px;
    float: left;
    margin: 0 20px 20px 0;
}


#fireflypage .container {
    min-height: 80px;
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 15px;
    margin-bottom: 15px;
}


#fireflypage .container.one > * {
    padding: 10px;
    border: 1px solid #aaa;
    margin: 10px;
    border-radius: 5px;
}

#fireflypage .container.two IMG {
    height: 100px;
    float: left;
    margin: 10px;
}