
#navcontainer {
    padding: 15px 20px 0;
    background: #333;
    margin-bottom: 20px;
    font-family: helvetica, arial, sans-serif;
}

#navcontainer .navitem {
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    color: #888;
    background-color: #fff;
    border: 1px solid #ccc;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 15px;
    margin-right:  15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    text-decoration: none;
}

#navcontainer .navitem:hover {
    text-decoration: underline;
    color: #555;
    border-color: #777;
}
#navcontainer .navitem.active {
    color: #333;
    background-color: #b2bcc5;
    border-color: #adadad;
    cursor: default;
    text-decoration: none;
}